@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a.active {
  @apply text-indigo-600;
}

.btn {
  @apply text-white bg-indigo-600 transition border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex items-center justify-center text-base font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
.btn__primary {
  @apply bg-blue-600 hover:bg-blue-700 focus:ring-blue-500;
}
.btn__secondary {
  @apply text-white bg-indigo-600 transition border border-transparent shadow-sm py-2 px-4 inline-flex items-center justify-center text-base font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
.content-image {
  @apply flex;
}

.modal__anime {
  @apply fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-gray-900 bg-opacity-75;
}

.modal__anime__content {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full flex flex-col justify-center p-2 max-w-2xl overflow-hidden transition-all transform bg-gray-800 rounded-lg shadow-xl h-[80vh] my-3 mx-2 z-[60];
}

.modal__anime__content__animes {
  @apply flex flex-col flex-1 w-full h-full overflow-y-auto my-3;
}

.modal__anime__content__animes__item {
  @apply flex flex-row items-center justify-between w-full p-2 my-1 rounded-lg bg-gray-700 relative;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* toast */

.btn__toast {
  @apply bg-red-500 text-white rounded-full h-10 w-10 p-2;
}

.toast__votation {
  @apply fixed bottom-2 z-50 flex p-4 space-x-4 sm:p-6 sm:space-x-6 bg-gray-700 bg-opacity-75 rounded-2xl shadow-lg;
}

input:checked + label {
  @apply bg-indigo-600 brightness-110;
  /* @apply border-2 border-indigo-600; */
}

.btn__vote {
  @apply w-full bg-blue-600 text-white px-2 py-2 font-bold text-xl rounded-md mt-2 z-30 disabled:opacity-50 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors opacity-100;
}

.content-image::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  z-index: 5;
  display: block;
  width: 100%;
  max-width: 160px;
  height: 25%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.714) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.show {
  @apply block;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}
